$marias-green: #731f1d;
$marias-grey: #fff;
$bylers-orange:#f99c1c;

.froala-view h1, h1.fr-tag,
.froala-view h3, h3.fr-tag {
    color: $marias-green !important;
}

.froala-view h2, h2.fr-tag {
    color: $bylers-orange !important;
}

.bylers-orange-bkg {
  background-color: $bylers-orange;
}

.bylers-orange-text {
  color: $bylers-orange !important;
}

.marias-green,
.margias-green:hover,
.marias-green a:hover {
  background-color: $marias-green!important;
}

.marias-green-text {
  color: $marias-green !important;
}

.teal {
  @extend .marias-green;
}

.teal-text {
  @extend .marias-green-text;
}

.btn {
  background-color: $marias-green;
  color: $marias-grey;
  &:hover {
    background-color: darken($marias-green, 10%);
  }
  &.light-blue, &.red {
    color: #fff;
  }
}

.marias-green-with-text {
  background-color: $marias-green !important;
  color: $marias-grey !important;
  * {
    color: $marias-grey !important;
  }
}

.marias-green-with-text-darken {
  background-color: $marias-green !important;
  color: darken($marias-grey, 50%) !important;
  * {
    color: darken($marias-grey, 20%) !important;
  }
}

.marias-grey {
  background-color: $marias-grey;
}

.marias-grey-text {
  color: $marias-grey;
}

.page-title, .marias-green-text-darken  {
  color: darken($marias-green, 20%) !important;
}
