<template name="rotatingBanner">
	<div class="slider">
    <ul class="slides">
      {{#each banner}}
      
        <li>
          
          <img src="{{ image.url }}" alt="" style="background-repeat:no-repeat;">
          <div class="caption left-align wow slideInRight">
            <h3><span class="highlight">{{ bigSlogan }}</span></h3>
            <a href="{{ link }}" target="_BLANK">
              <h5 class="grey-text text-lighten-3" style="font-weight:400;">
                <span class="highlight">
                    {{ smallSlogan }}
                </span>
              </h5>
            </a>
          </div>
        
        </li>

      {{/each}}
    </ul>
  </div>
  <style>
    .caption {
      font-family: "Roboto", sans-serif!important;

    }
    .slider {
      height: 540px!important;
    }

    .slider .indicators {
        z-index: 2;
    }
     .slider .slides {
        background-color:#621A18;
        margin: 0;
        height: 400px;
    }
    .slider .slides li img {
        height: 100%;
        width: 100%;
        background-size: inherit;
        background-position: center;
    }
    .slider .indicators .indicator-item.active {
        background-color: #f99c1c;
    }

    @media (max-width: 600px) {
      .caption > h3, .caption  h5 {
          font-size: 1.50rem;
      }

      .caption  h5 {
          font-size: 1.20rem;
      }
    }
  </style>
</template>