<template name="footer">
  <!-- <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p>
          <a href="{{ dict 'social.facebookUrl' }}" target="_blank">
            <img src="{{ dict 'social.facebookIcon.url' }}" alt="Facebook" />
          </a>
          <a href="{{ dict 'social.twitterUrl' }}" target="_blank">
            <img src="{{ dict 'social.twitterIcon.url' }}" alt="Twitter" />
          </a>
          <a href="{{ dict 'social.instagramUrl' }}" target="_blank">
            <img src="{{ dict 'social.instagramIcon.url' }}" alt="Instagram" />
          </a>
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">{{ dict 'footer.linksTitle' }}</h5>
        <ul>
          {{# each pages }}
            <li><a href="{{ path }}">{{ title }}</a></li>
          {{/ each }}
        </ul>
      </div>
    </div>
  </div> -->

  <div class="container wow fadeIn">
    <div class="row">
      <div class="col l6 s12 m6">
        <h5 class="white-text">{{ dict 'home page.footerTitle' 'No Title' }}</h5>
        <p class="flow-text grey-text text-lighten-4"> 
          {{ dict 'home page.address' 'No Address' }} <br>
          {{ dict 'home page.city' 'No City' }}, 
          {{ dict 'home page.state' 'No State' }}
          {{ dict 'home page.zipcode' 'No Zipcode' }} <br>
          <i class="fa fa-mobile"></i> {{ dict 'home page.phone' 'No Phone number' }} 
        </p>
        {{> socialIcons }}
      </div>
      <div class="col l4 offset-l2 s12 offset-m1 m5">
       
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <span> 
        {{ dict 'home page.copyright' 'No Copyright Info' }}
      </span>
      <a class="right" href="#!" target="_BLANK">
        <img src="/images/WebDesign-C1to1-H.png" alt="Web Design">
      </a>
    </div>
  </div>
  <style>
    .footer-copyright {
      background-color:#ccc!important;
    }
    .footer-copyright span {
      color:#000!important;
      font-weight: 300;
    }
  </style>
</template>
