<template name="header">
  <div class="logo-container site-color">
    <div class="row">
      <br>
      <div class="col l2 offset-l1 hide-on-med-and-down">
        <a href="{{ pathFor 'home' }}" class="bylers-logo">
            <img src="{{ dict 'home page.logo.url' '#' }}" alt="Byler's Logo">
        </a>
      </div>
      <div class="col l3 offset-l1 s12">
        <p class="flow-text">
          {{ dict 'home page.topHeadline' 'No headline'}} <br>
          {{ dict 'home page.hop1' 'No hop1' }}<br>
          {{ dict 'home page.hop2' 'No hop2' }}<br>
          {{ dict 'home page.hop3' 'No hop3' }}
        </p>
      </div>
      <div class="col l4 offset-l1 s12">
        {{#if socialIconsExist}}
          {{> socialIcons }}
        {{/if}}
        <p class="flow-text">
          {{ dict 'home page.address' 'No Address' }} <br>
          {{ dict 'home page.city' 'No City' }}, 
          {{ dict 'home page.state' 'No State' }}
          {{ dict 'home page.zipcode' 'No Zipcode' }} 
          <a class="site-blue-color" href="tel:{{ dict 'home page.phone' }}">
            <h3><i class="fa fa-mobile"></i> {{ dict 'home page.phone' 'No Phone number' }}</h3>
          </a>
                 
        </p>
      </div>
    </div>
  </div>
  <nav class="header marias-green-with-text">
    <div class="nav-wrapper container">
      <!-- <a href="{{ pathFor 'home' }}" class="brand-logo">
        <img src="{{ dict 'home page.logo.url' }}">
      </a> -->
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="side-nav" id="mobile-nav">
        {{> headerItems }}
      </ul>
      <ul class="right hide-on-med-and-down">
        {{> headerItems }}
      </ul>
    </div>
  </nav>
  {{# unless isActiveRoute regex='home' }}
    <div class="marias-green-with-text-darken home-links">
      <ul style="margin:0">
        {{# each topCategories }}
          <li class="{{ isActivePath regex=getPath }}">
            <a href="{{ pathFor 'categories.show' }}" class="uppercase separated">
              {{ label }}
            </a>
          </li>
        {{/ each }}
        <!-- <li class="{{ isActiveRoute regex='designers' }}">
           <a href="{{ pathFor 'designers.index' }}" class="uppercase separated">
            {{ dict 'texts.tituloDecoradores' 'Diseñadores' }}
          </a>
        </li> -->
      </ul>
    </div>
  {{/ unless }}
  <style type="text/css">
    .home-links > ul > li.active {
      background-color: rgba(0, 0, 0, 0.14);
    }
    ul li.active a {
      color: #fff!important;
    }
    nav .nav-wrapper ul li a {
          color: #cccccc !important;
    }
    nav .nav-wrapper ul li.active a {
          color: #fff!important;
    }
  </style>
</template>


<template name="headerItems">
  <li class="{{ isActiveRoute regex='home' }}">
    <a href="{{ pathFor 'home' }}" class="uppercase separated">
      Home
    </a>
  </li>
   <!-- {{# each pages }}
            <li class="{{ isActivePath regex='path' }}"><a href="{{ path }}" class="uppercase separated">{{ title }}</a></li>
    {{/ each }} -->
  {{#each parentPage }}
      <li class="{{ isActivePath regex=path }}">
        <a href="{{ path }}" class="uppercase separated">{{ title }}</a>
        <ul class="sub_menu">
          {{#each childPage title }}
          <li class="{{ isActivePath regex=path }}">
            <a href="{{ path }}">{{ title }}<!-- <span class="fa fa-angle-right white-text right arrow-right"></span> --></a>

            <ul>
              {{#each grandChildPage title }}
              <li class="{{ isActivePath regex=path }}">
                <a href="{{ path }}">{{ title }}</a>
              </li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul><!-- end sub_menu -->
      </li>
  {{/each}}    
  <!-- <li class="{{ isActiveRoute regex='search' }}">
    <a href="{{ pathFor 'search' }}" class="uppercase separated">
      <i class="material-icons left">search</i>
    </a>
  </li> -->
  <li class="{{ isActiveRoute regex='stores' }}">
    <a href="{{ pathFor 'stores.index' }}" class="uppercase separated">
      Brands
    </a>
  </li>
  
  <li class="{{ isActiveRoute 'contact' }}"><a href="{{pathFor 'contact'}}" class="uppercase separated">Contact</a></li>

  {{#if currentUser }}
  <li>
    <a href="{{ pathFor 'admin' }}" class="uppercase separated">
      <!-- <i class="material-icons">person</i> -->
      My Account
    </a>
  </li>
  {{/if}}
  
  <li class="{{ isActiveRoute regex='search' }}">
    <a href="{{ pathFor 'search' }}" class="uppercase separated">
      <i class="material-icons left">search</i>
    </a>
  </li>

  
  {{> subMenuCss }}
</template>
