<template name="subMenuCss">
    <style type="text/css">
        /* 
    LEVEL ONE
    */
    /*ul.dropdown { position: relative; }*/
    ul.dropdown  > li.active {
        background-color: #621A18;
        color: #fff;
    }
    ul.dropdown li { font-weight: bold; float: left; zoom: 1; background: #731F1D; }
    ul.dropdown a:hover { color: #fff!important; }
    /*ul.dropdown a:active { color: #ffa500; }*/
    ul.dropdown li a { 
        display: block; 
        padding: 0px 15px; 
        border-right: 1px solid #621A18;
        color: #ccc
    }
    ul.dropdown li.active > a {
        color: #fff;
    }
    ul.dropdown li:last-child a  { border-right: none; } /* Doesn't work in IE */
    ul.dropdown > li:hover { background:rgba(98, 26, 24, 0.26); color: black; position: relative; }
    ul.dropdown > li.active {  background-color: #621A18; color: #fff; }

    /* 
        LEVEL TWO
    */
    ul.dropdown ul { 
        width: 220px; 
        visibility: hidden; 
        position: absolute; 
        top: 100%; 
        left: 0; 
    }
    ul.dropdown ul li { 
        font-weight: normal; 
        background: #731F1D; 
        color: #000; 
        border-top: 1px solid #621A18; 
        float: none; 
    }
                                          
    /* IE 6 & 7 Needs Inline Block */
    ul.dropdown ul li a { 
        border-right: none; 
        width: 100%; 
        display: inline-block; 
    }
    ul.dropdown ul > li.active {
        background-color: #621A18;
    }
    
    .arrow-right {
        font-size: 24px;
        position: relative;
        top: 20px;
        /*left: auto;
        display: inline-block;*/
    }

    /* 
        LEVEL THREE
    */
    ul.dropdown ul ul li.active {
        background-color: #621A18;
    }
    ul.dropdown ul ul { left: 100%; top: 0; }
    ul.dropdown li:hover > ul { visibility: visible; }
    </style>
</template>