<template name="layout">


  {{# if dictionaryReady }}
    <header class="header front-display-header">
      {{> header }}
    </header>
    <main>
      {{# if dictionaryReady }}
        {{> yield }}
      {{/ if }}
    </main>
    <br>
   {{> carouselSection }}
    <footer class="page-footer marias-green-with-text">
      {{> footer }}
    </footer>
  {{ else }}
    {{> loading }}
  {{/ if }}
  <style>
    html {
      font-family: 'Oswald', sans-serif;
    }

  </style>
</template>


<template name="loading">
  <br>
  <div class="center">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <br>
</template>