<template name="socialIcons">
	<p class="hide-on-small-only">
		<a href="{{ dict 'social.Icon 1 URL' }}" target="_blank">
		    <img class="social-icons" src="{{ dict 'social.Icon 1 image.url' }}"  width="64px" />
		</a>
		<a href="{{ dict 'social.Icon 2 URL' }}" target="_blank">
		    <img class="social-icons" src="{{ dict 'social.Icon 2 image.url' }}" width="64px" />
		</a>
		<a href="{{ dict 'social.Icon 3 URL' }}" target="_blank">
		    <img class="social-icons" src="{{ dict 'social.Icon 3 image.url' }}" width="64px" />
		</a>
		<a href="{{ dict 'social.Icon 4 URL' }}" target="_blank">
		    <img class="social-icons" src="{{ dict 'social.Icon 4 image.url' }}" width="64px" />
		</a>
		<a href="{{ dict 'social.Icon 5 URL' }}" target="_blank">
		    <img class="social-icons" src="{{ dict 'social.Icon 5 image.url' }}" width="64px" />
		</a>
		<a href="{{ dict 'social.Icon 6 URL' }}" target="_blank">
		    <img class="social-icons" src="{{ dict 'social.Icon 6 image.url' }}" width="64px" />
		</a>

	</p>
	<style type="text/css">
		.social-icons {
			/*width: 50px;*/
			padding-right: 10px;
		}
	</style>
</template>